/* 1. Reset básico e Box Model */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Melhorias de visualização */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif; /* Ou sua fonte preferida */
}

/* 3. Imagens e Mídia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
